#projects {
    background-color: #393939;
    color: #f6f4f0;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    perspective: 1000px;
    overflow: hidden;
}

.div1 { grid-area: 1 / 1 / 3 / 3; }
.div2 { grid-area: 1 / 5 / 3 / 7; }
.div3 { grid-area: 3 / 1 / 5 / 4; }
.div4 { grid-area: 1 / 3 / 4 / 5; }
.div5 { grid-area: 3 / 4 / 6 / 6; }
.div6 { grid-area: 3 / 6 / 6 / 9; }
.div7 { grid-area: 1 / 7 / 4 / 9; }
.div8 { grid-area: 5 / 1 / 6 / 4; }

#projects > div {
    overflow: hidden;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
    cursor: pointer;
}

#projects img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}